.progress-bar-page{
    position: relative;
    top: 35%;
}

.progress-bar-page > h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 5em !important;
}

.progress-bar-page > p {
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.ui.progress{
    margin: 0% !important;
}